{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% with game as object %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ game.name }}</h2>
                        </div>
                        <div class="panel-body" style="text-align: center;">
                            <div class="row">
                                <div class="col-md-9" style="overflow: hidden;">
                                    <div id="gameWrapper">
                                        <iframe id="game-{{ game.id }}" src="{{ game.url }}" width="800" height="600px" scrolling="no" frameborder="0"></iframe>
                                    </div>
                                </div>
                            
                                {% if game.scores %}
                                    <div class="col-md-3">
                                        <h3 style="display: inline-block;">Leaderboard</h3><hr>
                                        {% for score in game.scores %}
                                            {% if forloop.counter < 6 %}
                                                <p>#{{ forloop.counter }}: {{ score.value }} by <b>{{ score.player }}</b></p>
                                            {% endif %}
                                        {% endfor %}
                                        {% if game.scores|length >= 6 %}
                                            <a style="display: inline-block;" href="javascript:showLeaderboard({{ game.scores_array }}, '{{ game.name }}');"><small>show more</small></a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-footer">
                            <h4>Developer: {{ game.developer }}</h4>
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>
    </div>
    <script>
        var gameId = "{{ game.id }}";
        console.log("GameID: ", gameId);
    </script>
    {% include "message_receiver.html" %}
{% endblock %}
