{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Add Game | Django Reinhardt's Game Store{% endblock %}

{% block body %}
    {{ media }}
    {{ form.media }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button class="btn btn-primary">Add Game</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
