{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% with game as object %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ game.name }}</h2>
                        </div>
                        <div class="panel-body" style="text-align: center;">
                            <iframe src="{{ game.url }}" align="middle" width="100%" height="600" scrolling="no" frameborder="0"></iframe>
                        </div>
                        <div class="panel-footer">
                            <h4>Developer: {{ game.developer }}</h4>
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>
    </div>
    {% include "message_receiver.html" %}
{% endblock %}
