{% extends "base.html" %}
{% load social_share %}

{% block meta %}
    <meta property="og:url" content="{{ request.path }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ object.name }}">
    <meta property="og:description" content="Check out or add JS games on Django-Reinhardt's Gamestore">
    <meta property="og:image" content="{{ object.cover.url }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% with game as object %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <h2 class="panel-title col-xs-8">{{ game.name }}</h2>
                                <h2 class="panel-title col-xs-2">
                                    <span class="glyphicon glyphicon-share" style="margin-right: 0.5em; float: left;"></span>
                                    {% post_to_facebook game "Share on FB" %}
                                </h2>
                                {% if game.developer == user %}
                                    <h2 class="panel-title col-xs-2"><a href="{% url "game_update" game.id %}" style="text-align: right;"><span class="glyphicon glyphicon-edit" style="margin-right: 0.5em;"></span> Edit </a></h2>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-body" style="text-align: center;">
                            <div class="row">
                                <div class="col-md-9" style="overflow: hidden;">
                                    <div id="gameWrapper">
                                        <iframe id="game-{{ game.id }}" src="{{ game.url }}" width="800" height="600" scrolling="no" frameborder="0"></iframe>
                                    </div>
                                </div>
                            
                                {% if game.scores %}
                                    <div class="col-md-3">
                                        <h3 style="display: inline-block;">Leaderboard</h3><hr>
                                        {% for score in game.scores %}
                                            {% if forloop.counter < 6 %}
                                                <p>#{{ forloop.counter }}: {{ score.value }} by <b>{{ score.user }}</b></p>
                                            {% endif %}
                                        {% endfor %}
                                        {% if game.scores|length >= 6 %}
                                            <hr>
                                            <a style="display: inline-block;" data-toggle="modal" data-target="#moreLeaderboard" class="btn btn-primary"><small>show more</small></a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-footer">
                            <h4>Developer: {{ game.developer }}</h4>
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>

        <!-- Modal -->
        <div id="moreLeaderboard" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Leaderboard for {{ game.name }}</h4>
              </div>
              <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                {% for score in game.scores %}
                    {% if forloop.counter < 128 %}
                        <p>#{{ forloop.counter }}: {{ score.value }} by <b>{{ score.user }}</b></p>
                    {% endif %}
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
    </div>
    <script>
        var gameId = "{{ game.id }}";
        console.log("GameID: ", gameId);
    </script>
    {% include "message_receiver.html" %}
    <script>
        $(document).ready(function() {
            adjustGameFrame();
            $(window).resize(function() {
                adjustGameFrame();
            });
        });
    </script>
{% endblock %}
