{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% load text_custom %}

{% block title %}Django Reinhardt's Game Store{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for game in object_list %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 class="panel-title" style=""><a href="{% url "game" game.id %}">{{ game.name|limit_size:30}}</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="imageWrapper">
                                {% if game.cover %}
                                    <img src="{{ game.cover.url }}" alt="Game Cover">
                                {% else %}
                                    <img src="{% static "images/default_cover.png" %}" alt="Game Cover">
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-5">
                                    <h4>Developer: {{ game.developer }}</h4>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-4">
                                    <button id="pay-button" class="btn btn-primary" style="float: right;">BUY FOR {{ game.price }}$</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(".grid").masonry({
            itemSelector: ".grid-item",
            columnWidth: ".grid-item"
        });
    </script>
{% endblock %}
