{% extends "base.html" %}
{% load static %}

{% block title %}Django Reinhardt's Game Store{% endblock %}

{% block body %}
    <div class="container">
        {% for game in object_list %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title"><a href="{% url "game" game.id %}">{{ game.name }}</a></h2>
                        </div>
                        <div class="panel-body" style="text-align: center;">
                            <img src="{% static "icons/bee-transparent-white.png" %}" alt="">
                        </div>
                        <div class="panel-footer">
                            <h4>Developer: {{ game.developer }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "message_receiver.html" %}
{% endblock %}
