<script>
    window.addEventListener("message", receiveMessage, false);
    var gameFrame = $("#game-" + gameId);

    function receiveMessage(event) {
        var message = event.data;
        console.log("PostMessage received: ", message);
        switch (message.messageType) {
            case "SCORE":
                saveGamescore(event);
                break;
            case "SAVE":
                saveGamestate(event);
                break;
            case "LOAD_REQUEST":
                requestGamestate(event);
                break;
            case "SETTING":
                setSettings(event);
                break;
            default:
                console.log("MessageType not recognized.");
        }
    }

    function saveGamescore(event) {
        var message = event.data;
        $.ajax({
            url: '{% url "save_gamescore" %}',
            type: 'POST',
            data: {
                "gameId": gameId,
                "score": message.score,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            success: function(result) {
                console.log("SUCCESS: ", result);
            },
            error: function(result) {
                console.log("ERROR: ", result);
            }
        })
    }

    function saveGamestate(event) {
        var message = event.data;
        $.ajax({
            url: '{% url "save_gamestate" %}',
            type: 'POST',
            data: {
                "gameId": gameId,
                "gameState": JSON.stringify(message.gameState),
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            success: function(result) {
                console.log("SUCCESS: ", result);
            },
            error: function(result) {
                console.log("ERROR: ", result);
            }
        })
    }

    function requestGamestate(event) {
        $.ajax({
            url: '{% url "load_gamestate" %}',
            type: 'POST',
            data: {
                "gameId": gameId,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            success: function(result) {
                loadGamestate(result);
            },
            error: function(result) {
                throwError(result);
            }
        })
    }

    function loadGamestate(message) {
        console.log("LOAD REQUEST SUCCESS: ", message);
        gameFrame.get(0).contentWindow.postMessage(message, "*");
    }

    function throwError(message) {
        console.log("LOAD REQUEST ERROR: ", message);
        gameFrame.get(0).contentWindow.postMessage(message, "*");
    }

    var gameWidth = 800;
    var gameHeight = 600;
    var dimInit = false;

    function setSettings(event) {
        var options = event.data.options;
        gameFrame.height(options.height).width(options.width);

        gameWidth = options.width;
        gameHeight = options.height;
        dimInit = true;

        adjustGameFrame();
    }

    function adjustGameFrame() {
        var gwidth = $("#gameWrapper").width();
        $("#gameWrapper").css("padding-bottom", (Math.min(gwidth, gameWidth) * gameHeight / gameWidth) + "px");

        var scale;
        if (gameWidth <= gwidth)
            scale = 1;
        else
            scale = gwidth / gameWidth;

        var tstr = "scale(" + scale + ")";
        gameFrame.css("-ms-zoom", scale);
        gameFrame.css("-moz-transform", tstr);
        gameFrame.css("-o-transform", tstr);
        gameFrame.css("-webkit-transform", tstr);
    }
</script>