{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="https://simplepayments.herokuapp.com/pay/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="pid" value="{{ form.id }}">
                    <input type="hidden" name="sid" value="{{ form.sid }}">
                    <input type="hidden" name="success_url"
                           value="http://localhost:8000/payment/success" />
                    <input type="hidden" name="cancel_url"
                           value="http://localhost:8000/payment/cancel" />
                    <input type="hidden" name="error_url"
                           value="http://localhost:8000/payment/error" />
                    <input type="hidden" name="checksum"
                           value="ee306a1dec60d40534391106f7855434" />

                    <label for="id_amount">Amount</label>
                    <input type="text" id="id_amount" name="amount" value="5" />
                    <input type="submit" value="Accept Payment"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
