{% extends "base.html" %}

{% block body %}
    <div class="container center">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>INFO</h4>
                    </div>
                    <div class="panel-body">
                        <p>Your account has the role -> {% if developer %}DEVELOPER{% else %}PLAYER{% endif %}</p>
                        {% if token %}
                            <hr>
                            <h3>REST API</h3>
                            <p>Token: {{ token }}</p>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="{% url "games" %}?token={{ token }}">Get All Games</a></li>
                                <li class="list-group-item"><a href="{% url "leaderboard" 1 %}?token={{ token }}">Get Leaderboard for Game ID</a></li>
                                <li class="list-group-item"><a href="{% url "my_games" %}?token={{ token }}">Get My Games as the Developer</a></li>
                            </ul>
                        {% endif %}
                    </div>
                    {% if not developer %}
                        <div class="panel-footer">
                            <p>Switch to developer <a href="{% url "switch_to_developer" %}">here!</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h1>My Games <small>{{ my_games|length }} Games</small></h1>
                <hr>
                <ul class="list-group list-group-flush">
                    {% for game in my_games %}
                        <li class="list-group-item">
                            <a class="text-primary" href="{% url "game" game.id %}">{{ game }}</a><a class="text-primary" href="{% url "game_update" game.id %}"><span class="glyphicon glyphicon-edit" style="margin-left: 1.5em;"></span> Edit </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h1>My Purchases <small>Total Spent: {{ total_spent }}$</small></h1>
                <hr>
                <ul class="list-group list-group-flush">
                    {% for payment in payments %}
                        <li class="list-group-item">
                            <a class="text-primary" href="{% url "game" payment.game.id %}">{{ payment }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
