{% extends "base.html" %}

{% block body %}
    <div class="container center">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h1>My Games <small>{{ my_games|length }} Games</small></h1>
                <hr>
                {% for game in my_games %}
                    <p><a href="{% url "game" game.id %}">{{ game }}</a></p>
                {% endfor %}
            </div>
            <div class="col-md-7">
                <h1>My Purchases <small>Total Spent: {{ total_spent }}$</small></h1>
                <hr>
                {% for payment in payments %}
                    <p>{{ payment }}</p>
                {% endfor %}
            </div>
        </div>
        <div style="margin-top: 50px;" class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>INFO</h4>
                    </div>
                    <div class="panel-body">
                        <p>Your account has the role -> {% if developer %}DEVELOPER{% else %}PLAYER{% endif %}</p>
                    </div>
                    {% if not developer %}
                        <div class="panel-footer">
                            <p>Switch to developer <a href="{% url "switch_to_developer" %}">here!</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
