<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load bootstrap %}

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-social.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/repair_autocomplete.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
 

    <head>
        <title>Add Game | Django Reinhardt's Game Store</title>
    </head>

    <body>
        {{ form.media }}
        
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class="btn btn-primary">Add tag</button>
        </form>
    </body>
</html>